parameters:
    level: 1
    paths:
        - includes/
        - tests/
    excludePaths:
        - vendor/*
    ignoreErrors:
        - identifier: missingType.generics
    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    checkMissingOverrideMethodAttribute: false
