<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="wp-mock">
            <directory prefix="test-" suffix=".php">tests/providers</directory>
            <directory prefix="test-" suffix=".php">tests/api</directory>
            <directory prefix="test-" suffix=".php">tests/admin</directory>
        </testsuite>
        <testsuite name="integration">
            <directory prefix="test-" suffix=".php">tests/integration</directory>
        </testsuite>
        <testsuite name="all">
            <directory prefix="test-" suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>wp-mock</group>
        </include>
    </groups>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes</directory>
        </whitelist>
    </filter>
</phpunit>
