<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         >
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    <php>
        <env name="WP_TESTS_DIR" value="/app/wordpress-phpunit"/>
        <env name="WP_CORE_DIR" value="/app"/>
        <env name="WP_TESTS_DB_NAME" value="wordpress_test"/>
        <env name="WP_TESTS_DB_USER" value="wordpress"/>
        <env name="WP_TESTS_DB_PASSWORD" value="wordpress"/>
        <env name="WP_TESTS_DB_HOST" value="database"/>
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="Test Blog"/>
        <env name="WP_PHP_BINARY" value="php"/>
        <env name="WP_TESTS_MULTISITE" value="0"/>
        <env name="DOING_AJAX" value="0"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory suffix=".php">./tests/integration/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix=".php">./tests/unit</directory>
            <directory suffix=".php">./tests/unit/utils</directory>
            <directory suffix=".php">./tests/unit/types</directory>
            <directory suffix=".php">./tests/unit/system</directory>
        </testsuite>
        <testsuite name="wp-mock">
            <directory suffix=".php">./tests/wp-mock/color-management</directory>
            <directory suffix=".php">./tests/wp-mock/core</directory>
            <directory suffix=".php">./tests/wp-mock/generators</directory>
            <directory suffix=".php">./tests/wp-mock/providers</directory>
            <directory suffix=".php">./tests/wp-mock/settings</directory>
            <directory suffix=".php">./tests/wp-mock/security</directory>
        </testsuite>
    </testsuites>
    <!-- Comment out until fixed
    <listeners>
        <listener class="GL_Color_Palette_Generator\Tests\Unit\Test_Printer"/>
    </listeners>
    -->
</phpunit>
