<?xml version="1.0"?>
<phpunit
    bootstrap="/app/wp-content/plugins/gl-color-palette-generator/tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="sample">
            <directory prefix="test-" suffix=".php">/app/wp-content/plugins/gl-color-palette-generator/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
